apiVersion: apps/v1
kind: Deployment
metadata:
  name: iris-api
  labels:
    app: iris-api
spec:
  replicas: 2
  selector:
    matchLabels:
      app: iris-api
  template:
    metadata:
      labels:
        app: iris-api
    spec:
      containers:
        - name: iris-container
          image: us-central1-docker.pkg.dev//iris-api-cicd/iris-api:latest
          ports:
            - containerPort: 8100
